$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// 
html {
    font-size: 10px
}

@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width:415px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width:800px) {
    html {
        font-size: 25px
    }
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}
.pb50 {
    padding-bottom: 47px;
}

.btn-l,
.btn-r {
    @include button-variant(#fff, #a1d6c6, #ffffff);
}

.btn-l {
    border-radius: 34px 3px 3px 34px;
}

.btn-r {
    border-radius: 3px 34px 34px 3px;
}

.btn-l2,
.btn-r2 {
    @include button-variant(#fff, #39969c, #ffffff);
}

.btn-l2 {
    border-radius: 34px 3px 3px 34px;
}

.btn-r2 {
    border-radius: 3px 34px 34px 3px;
}

.btn-top {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    color: #ffffff;
    &:active,
    &:hover {
        color: #ffffff;
    }
}

.btn-a {
    @include button-variant(#fff, #a1d6c6, #ffffff);
}
.btn-b {
    @include button-variant(#fff, #a1d6c6, #ffffff);
    border-radius: 0;
    border: 0px;
    font-size: 2.5rem;
    &.btn-fix-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

body {}

html {}

.section {
    background: url(../images/bg01.jpg) repeat-y center center;
    background-size: 100% 100%;
    height: 100%;
    .container {
        padding: 0 40px;
    }
    .btn-wrap {
        // background-color: rgba(97, 197, 140, 0.3);
        min-height: 70px;
        // padding-top: 20px;
        .btn-submit {
            text-decoration: none;
            font-size: 2.5rem;
            color: #ffffff;
        }
    }
    .panel-group {
        .panel {
            background-color: rgba(255, 255, 255, 0.2);
            .panel-heading {
                position: relative;
                background-color: rgba(255, 255, 255, 0.2);
                a {
                    text-decoration: none;
                }
                .media {
                    .media-left {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                .label-num {
                    background-color: #3aadb4;
                    color: #fff;
                    position: absolute;
                    right: 40px;
                    top: 0px;
                    padding: 5px 10px;
                }
            }
        }
    }
    .list {
        .list-img {
            width: 12px;
            height: 12px;
            vertical-align: middle;
            margin-right: 10px;
        }
        li {
            padding: 15px 40px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            position: relative;
            &.active,
            &:hover {
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
                border-top: 1px solid rgba(255, 255, 255, 0.5);
            }
            a {
                color: inherit;
                text-decoration: none;
                i {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .media {
                .media-left {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .label-num {
                background-color: #3aadb4;
                color: #fff;
                position: absolute;
                right: 40px;
                top: 0px;
                padding: 5px 10px;
            }
        }
    }
    .btn-nav {
        margin: 20px 0;
        .col-nav-l {
            padding-right: 5px;
            padding-bottom: 10px;
        }
        .col-nav-r {
            padding-left: 5px;
            padding-bottom: 10px;
        }
    }
    .wall {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 10px;
    }
    .toolbar-wrap {
        &.blank {
            background-color: transparent;
            .toolbar {
                background-image: none;
            }
        }
        .btn {
            background-color: transparent;
            margin-top: 8px;
        }
        .list-group {
            .list-group-item {
                background-color: transparent;
                border-radius: 0px;
                a {
                    color: inherit;
                }
            }
        }
        .toolbar {
            height: 50px;
            @include gradient-vertical(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
            position: relative;
            .back {
                position: absolute;
                left: 20px;
                top: 50%;
                margin-top: -14px;
                border: 1px solid #999999;
                width: 28px;
                height: 28px;
                color: #c6c6c6;
                border-radius: 14px;
                display: inline-block;
                text-align: center;
                line-height: 25px;
                color: #999999;
            }
            .menu {
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -7px;
                font-weight: normal;
                color: #333;
            }
            .header {
                background-color: #fff;
                line-height: 50px;
                margin: 0;
                text-align: center;
                font-size: 1.94rem;
                font-weight: normal;
                padding-left: 20px;
            }
            .btn {}
        }
    }
    .title-wrap {
        @include img-retina("../images/pic01.jpg", "../images/pic01.jpg", 100%, 100%);
        background-size: cover;
        .title {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 20px 0;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16); 
            small {
                font-size: 1.5rem;
            }
            .second {
                margin-top: 10px;
                border-top: 1px solid rgba(255, 255, 255, 0.8);
                padding-top: 10px;
                margin-left: 20px;
                margin-right: 20px;
                font-size: 1.666rem;
                color: #ffffff;
                font-weight: normal;
            }
        }
    }
    .dl-xs-horizontal {
        font-weight: bold;
        margin-bottom: 0;
        dt {
            float: left;
            width: 7rem;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        dd {
            margin-left: 7rem;
        }
    }
    .main-content {
        padding: 15px 0;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
        .dl-xs-horizontal {
            font-weight: bold;
            margin-bottom: 0;
            dt {
                float: left;
                width: 7rem;
                clear: left;
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            dd {
                margin-left: 7rem;
            }
        }
    }
    .contact-form {
        padding-top: 20px;
        .form-group {
            margin-bottom: 10px;
            .icheck-wrap {
                display: inline-block;
                font-weight: normal;
            }
        }
    }
    .text-content-wrap {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
        .text-content {
            font-size: 1.111rem;
            line-height: 1.8;
            margin-top: 20px;
        }
    }
    .jiabin-wrap {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        .pic {
            width: 88px;
            height: 100px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
        .intro {
            width: 80%;
            position: absolute;
            right: 0;
            top: 35px;
            background-color: rgba(237, 240, 242, 0.3);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
            padding: 10px;
            padding-left: 18%;
            font-size: 1.111rem;
            @media (max-width: 320px) {
                padding-left: 20%;
            }
        }
        h3.name {
            position: absolute;
            left: 92px;
            margin-top: 8px;
            font-weight: bold;
            font-size: 1.6667rem;
        }
    }
    .org-wrap {
        font-size: 1.38889rem;
        margin-top: 20px;
        .list-img {
            width: 13px;
            height: 13px;
        }
        .wall {
            margin-top: 10px;
        }
    }
    .schedule-wrap {
        background: url(../images/pic02.png) no-repeat 0% bottom;
        background-size: auto 12px;
        padding-bottom: 12px;
        .wall {
            .list-img {
                width: 13px;
                height: 13px;
            }
            box-shadow: none;
            .date {
                font-size: 1.6444rem;
                font-weight: bold;
            }
        }
    }
    .schedule-info {
        margin-bottom: 20px;
    }
    .panel-group-topic {
        .panel {
            margin-top: 0px;
        }
    }
    &.schedule {
        .form-group {
            margin-bottom: 0;
            margin-top: 10px;
            label {
                font-size: 1.944rem;
                font-weight: bold;
            }
        }
        .wall {
            font-size: 1.4888rem;
            font-weight: normal;
            padding-bottom: 10px;
            padding-top: 0px;
        }
        .dl-xs-horizontal {
            margin-bottom: 0;
            margin-top: 10px;
            dt {
                float: left;
                width: 9rem;
                clear: left;
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: normal;
            }
            dd {
                margin-left: 10rem;
                font-weight: normal;
            }
        }
    }
    .baoming {
        padding: 10px 15px;
        margin-bottom: 20px;
        h5 {
            padding-bottom: 10px;
            font-size: 1.66667rem;
            text-align: center;
            margin: 0;
        }
        p {
            font-size: 1.25rem;
        }
    }
    .img-check {
        margin-top: 30%;
    }
    .img-qr {
        position: absolute;
        top: 50%;
        margin-top: -100px;
        width: 183px;
        height: 183px;
        left: 50%;
        margin-left: -90px;
    }
    .check-text {
        font-size: 1.944rem;
        margin-top: 40px;
    }
}

.my-modal {
    .modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    .modal-footer {
        text-align: center;
        border-top: none;
    } 
}